{% extends 'base.html.twig' %}

{% block title %}Czechsaber | {{ page.title|raw }}{% endblock %}

{% block meta %}
    <meta name="keywords" content="{{ page.keywords|raw }}">
    <meta name="description" content="{{ page.metaDescription|raw }}">
{% endblock %}

{% block sidebar %}
    {% embed "default/utilities/sidebar.html.twig" %}
        {% block players %}
            <div class="button-border">
                <li class="nav-item active  ">
                    <a class="nav-link" href="{{ path('users') }}">
                        <i class="fa-solid fa-users-between-lines"></i>
                        <p>Hráči</p>
                    </a>
                </li>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block navbar %}
    {% embed "default/utilities/navbar.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}

    <div class="wrapper-box" style="overflow: hidden;">
        <div class="section">
            <div id="show-more-users-container" class="users-container">
                {{ include('default/users/components/user_card.html.html.twig') }}
            </div>
            <div id="show-more-users" data-from="10" data-step="10" class="button-border twitch-button" style="position: relative; z-index: 1; max-width: 300px; text-align: center;">
                {{ translator.getValue('SHOW_MORE', 'Načíst další')|raw }}
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable dark">
                <div class="modal-content">
                    {# Dinamically rendered from Ajax /detail/users_detail.html.twig #}
                </div>
            </div>
        </div>
        <div id="overlay">
            <div class="cv-spinner">
                <span class="spinner"></span>
            </div>
        </div>
    </div>

{% endblock %}